$bg-color: rgb(253, 251, 238);
$text-grey: rgb(128, 128, 128);
$button-green: rgb(166, 210, 213);

.space-items {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.main-div {
  background-color: $bg-color;
}

.address-card {
  background-color: white;
  border-radius: 5px;
  padding: 2rem;
}

.text-custom {
  color: $text-grey;
}

.green-button {
  background-color: $button-green;
  border: none;
}

.mobile-screen {
  display: flex;
}

.mobile-left-div {
  width: 60%;
}

.mobile-payment-div {
  width: 65%;
}

.mobile-right-div {
  padding: 0;
}

@media (max-width: 600px) {
  .space-items {
    margin-right: 0;
    margin-left: 0;
  }

  .mobile-screen {
    display: inline;
  }

  .mobile-left-div {
    width: 100%;
    padding: 2rem;
  }

  .mobile-payment-div {
    width: 100%;
  }

  .mobile-right-div {
    padding: 2rem;
  }
}
